
body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
    position: sticky;
}
#nav-bar
{
    
    position: sticky;
    top:0;
    z-index: 10; 
}
#nav-bar li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;

}

.navbar-nav li
{
    padding: 0 15px;
    font-size: 20px;
    margin-top: 6px;
}
.navbar-nav li a
{
    font-weight: 600;
    float: right;
    text-align: left;
    padding-top: 0px;
}
.navbar-toggler-icon 
{
    color: #E84D00;
    font-size: 20px !important;
}
.navbar-toggler .dropdown-item
{
    outline: none !important;
    text-align: left;
}
.fas{
    color: #000;
}
.logo{
    width: 140px;
}
#nav-bar li a:hover,
.active{
    background-color: #E84D00;
    color: #fff !important;
    font-weight:700;
    transition: all ease 0.4s;
}
h1{
    font-family: Staatliches;
}

p{
    color: #555;
    font-family: roboto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 550px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    
}
.col-2 h1 p{
    max-width: 100%;
    padding: 40px 0;
    
}
.col-2 h1{
    font-size: 80px;
    line-height: 60px;
    margin: 20px 0;
}
.btn1{
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    background-color: #E84D00;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    width: 50%;
}
.btn1 input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
.btn1:focus{
  outline: none;
}

.btn1 input:focus{
  outline: none;
}
.btn1:hover{
    background-color: #000;
    color: white;
    text-decoration: none;
}
.btn1 input:hover{
    background-color: #fff;
    color: black;
    text-decoration: none;
}


.header{
    background: radial-gradient(#fff,#FF9B68)
}
/* Style all font awesome icons */
.social-media {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 22px;
  transition: 0.3s;
}

/* Add a hover effect if you want */
.social-media:hover {
  opacity: 0.7;
  text-decoration: none;
  color: black; 
  transform: translateY(-10%);
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #E84D00;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #E84D00;
  color: white;
}
.fa-google {
  background: #E84D00;
  color: white;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    margin-top: 40px;
    transition: transform 0.3s;
}
.col-3 img{
    width: 100%;
}
.col-3:hover{
    transform: translateY(-5px);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 150px
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

.title{
    text-align: center;
    margin: 0 auto 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-decoration : underline solid #E84D00;
}
hr{
    width: 70%;
}
.rating .fa{
    color: #E84D00;
}


.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.text-overlay{
  color: #000;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.col-4:hover .overlay{
    transform: translateY(-5%);
    opacity: 1; 
}
.col-4:hover img{
    transform: translateY(-5%);
    opacity: 0.7; 
}
.offer{
    background: radial-gradient(#fff,#FF9B68);
    margin-top: 60px;
    padding: 30px 0;
}
.col-5{
    padding: 50px;
    flex-basis: 50%;
    min-width: 400px;
    margin-top: 18px;

}
 #testimonials .col-5{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
 }
#testimonials .col-5 img{
    margin-top: 20px;
    border-radius: 50%;
 }
#testimonials .col-5:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    color: #E84D00;
    font-size: 40px;
}
.col-5 p{
    font-size: 15px;
    margin: 12px 0;
    color: #777
}
#testimonials .col-5 h3{
    font-weight: 600;
    color: #555;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #000;
    box-sizing: border-box;
}

footer h2{
    font-family: 'Poppins', sans-serif;
    text-decoration : underline solid #E84D00;
    color: #D9D9D9;

}

.main-content{
    display: flex;
}

.small-container .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;  
}

.box .content{
    margin: 20px 0 0 0;
}
footer .fas{
    color: #fff;
}

footer a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

footer .btn1{
    display: inline-block;
    background-color: #E84D00;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
footer .btn1:hover{
    background-color: #fff;
    color: #000;
}
footer .btn1 a:hover{
    color: #000;
    text-decoration: none;
}

 footer .col-3{
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 20px;
    margin-top: 40px;
}
 footer .col-3:hover{
    transform: translateY(0px);
}

.text{
    color: #B9B8B8;
    font-weight: 700;
}
 footer p{
    color: #B9B8B8;
    font-weight: 700; 
 }

.copyright
{
    font-family: 'Poppins';
    font-weight: 300;
    color:#555;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}





/*************ALL PRODUCTS**************/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-2 h2{
    font-family: 'Poppins', sans-serif;
    text-decoration : underline solid #E84D00;
}
select{
    border: 2px solid #E84D00;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 2px solid #E84D00;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn a{
    text-decoration: none;
    color: black;
}

.page-btn span:hover{
    background-color: #E84D00;
    color: #fff;
}

.page-btn span:hover .active{
    background-color: #E84D00;
}
/**************************************************/

/***************Single Product Details*********/

.single-product{
    margin-top: 80px;

}

.single-product .col-2 img{
    padding: 20px;
    width: 80%;
}

.single-product h4{
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
}



/*********************************************/

/*cart items details*/

.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #E84D00;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}

td input{
  width: 40px; 
  height: 30px;
  padding: 5px;
}

td a{
  color: #E84D00;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: 3px solid #E84D00;
  width: 100%;
  max-width: 350px;
}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

.cart-info button{
  background-color: #000;
  font-weight: 640;
  cursor: pointer;
  color: #fff;
  border-radius: 10%;
}
.cart-info button:hover{
  background-color: #fff;
  color: #000;
  font-weight: 640;
}
/*********************/

/****************scroll down***************/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/***********************************************/

/******************acount page******************/

.account-page{
  padding: 50px;
  background: radial-gradient(#fff,#FF9B68);
}

.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); 
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100%;
  display: inline;
}

.form-btn{
  display: inline-block;
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 100px;
  transition: transform 0.7s;
}

form input{
  width: 100%;
  height:  38px;
  margin: 10px 0; 
  padding: 0 10px;
  border: 1px solid #ccc;
}

.form-container form .btn1{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.form-container form .btn1:focus{
  outline: none;
}

#RegForm{
  left: 0;
}

#LoginForm{
  left: -300px;
}

#indicator{
  width: 80px;
  border: none;
  background: #E84D00; 
  height: 4px;
  margin-top: 7px;
  transform: translateX(40px); 
  transition: transform 0.7s;
}

.form-container form a{
  color: #555;
}

.form-container form a:hover{
  color: #555;
}

.footer-hr{
  width: 70%;
  background: #555;
  height: 2px;
  border: none; 
}


@media only screen and (max-width: 400px ){
.logo{
    width: 90px;
   position: relative;
   margin-left: 127px;
}

.col-2 img{
    max-width: 90%;
    padding: 50px 0;
    margin-left: 10px;
}

/* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .col-2{
    flex-basis: 50%;
    min-width: 370px;
}

.copyright
{
    font-weight: 200;
    font-size: 12px;
}

.navbar-toggler 
{
    font-color: #E84D00;
    font-size: 20px !important;
    text-align: left;
    outline: none !important;
    position: absolute;

}

.navbar-toggler:focus
{
    font-color: #E84D00;
    font-size: 20px !important;
    text-align: left;
    outline: none !important;
    position: absolute;

}

.navbar-nav li a
{
    font-weight: 600;
    float: left;
    text-align: right;
    padding-top: 0px;
}

.footer-hr{
  width: 80%;
  background: #555;
  height: 2px;
  border: none; 
}

}